:root {
  --primary-color: #919072;
  --secondary-color: #c4c3ab;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0b0b0a;
}

body {
  background-color: #f9f9f8;
}

.board-wrapper,
.block-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-wrapper {
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-item {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.actions-container {
  width: 100%;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;

  background-color: var(--secondary-color);
  color: black;
  font-weight: 700;
}
